.tag,
.date {
    font-weight: 500;
    display: flex;
    align-items: center;
    text-transform: uppercase;

    @media (min-width: 501px) {
        padding: .8vw 1.2vw;

        span,
        time {
            font-size: .85vw;
            letter-spacing: .1vw;
        }

    }

    @media (max-width: 500px) {
        padding: 2.3vw 4vw;

        span,
        time {
            font-size: 2.8vw;
            letter-spacing: .3vw;
        }
    }
}

.tag {

    @media (max-width: 500px) {
        margin: 0 1.5vw 0 0;
    }

    background: rgba(33, 206, 153, .3);


    span {
        color: var(--tag-color);
        transition: color .6s;
    }
}

.date {

    time {
        opacity: 0.75
    }
}